html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: var(--font-family);
    font-size: var(--font-size);
}

main {
    scroll-snap-type: y mandatory; /* Snap en el eje vertical */
    height: 100vh; /* Ocupa la altura completa de la pantalla */
    overflow-y: scroll;
    background-color: var(--background-color);
}

/* Configuración de cada sección para scroll snap */
section {
    scroll-snap-align: start; /* Alinea al inicio de cada sección */
    height: 100vh; /* Ocupa toda la pantalla */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 1.5em;
}

/* Estilos adicionales de fondo para cada sección */
#invitation {
    background-color: var(--background-color);
  }
  
  #countdown {
    background-color: var(--primary-color);
  }
  
  #information {
    background-color: var(--primary-color);
  }
  
  #itinerary {
    background-color:var(--primary-color);
  }
  
  #dress-code {
    background-color:var(--primary-color);
  }
  
  #thanks {
    background-color: var(--primary-color);
  }

/* Otros ajustes responsivos */
@media (max-width: 600px) {
    section h2 {
        font-size: 1.5em; /* Ajusta el tamaño del título en pantallas pequeñas */
    }
    video {
        max-height: 60vh; /* Ajusta la altura del video en móviles */
    }
}