/* Sección del video */
#invitation {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: var(--background-color);
}

/* Video a pantalla completa */
#invitation video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.sound-btn {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: var(--dark-background-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
}

/* Cambiar el color del botón al activar sonido */
.sound-btn.active {
    background-color: var(--accent-color);
  }

/* Flecha de desplazamiento */
.scroll-down {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: white;
    animation: bounce 2s infinite;
    z-index: 10;
}

/* Animación de rebote */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-10px); }
    60% { transform: translateY(-5px); }
}